extends layout

block variables
  - var title = "Dein Profil"

block content
        hr
        .profileContainer
            .row
                // left column
                .col-md-12.text-center
                    h2 Dein Profil
                    hr
            .row
                .col-md-3
                    .row
                        .col-md-12
                            img.avatar.img-circle(alt='avatar' id="cImage" src=userImg)
                    
                    form(action="/profile/image" enctype="multipart/form-data" method="post")
                        .row
                            .col-md-12
                                div.upload-btn-wrapper
                                    input(type="file" name="myfile" id="imgSelector" onchange="changeImg(this);")
                                    input.btn.btn-primary.btn-block(value='Bild ändern')
                        .row
                            .col-md-12
                                    input.btn.btn-primary.btn-block(type="submit" value='Speichern' onclick="save();")
                    hr
                    // edit form column
                .col-md-9.personal-info
                    h3 Deine Daten
                    form.form-horizontal(role='form' method='POST' action='/profile')
                        .form-group
                        label.col-lg-12.control-label(for="firstName") Vorname: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="firstName" type='text', value=user.profile.firstName )
                        .form-group
                        label.col-lg-12.control-label(for="lastName") Nachname: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="lastName" type='text', value=user.profile.lastName)
                        .form-group
                        label.col-lg-12.control-label(for="email") Email: <span class="sidenote">(Für Wähler <b>nicht</b> sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="email" type='text', value=user.profile.email, data-validation="email")
                        .form-group
                        label.col-lg-12.control-label(for="phone") Telefon: <span class="sidenote">(Für Wähler <b>nicht</b> sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="phone" type='tel', value=user.profile.phone, data-validation="number")
                        .form-group
                        label.col-lg-12.control-label(for="birthdate") Geburtsdatum: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="birthdate" type='text', value=user.profile.birthdate, data-validation="birthdate", data-validation-format="dd.mm.yyyy")
                        .form-group
                        label.col-lg-12.control-label(for="list") Liste: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            select#sel1.form-control(name="list" value=user.profile.list)
                                option(value="null") -Liste auswählen-
                                option(value="1") FDP
                        .form-group
                        label.col-lg-12.control-label(for="list_number") Listenplatz: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            input.form-control(name="list_number" type='text', value=user.profile.list_number)
                        .form-group
                        label.col-lg-12.control-label(for="district") Stadtbezirk: <span class="sidenote">(Für Wähler sichtbar)</span>
                        .col-lg-8
                            select#sel1.form-control(name="district" value=user.profile.district)
                                option(value="null") -Stadtbezirk auswählen-
                                option(value="1") Untertürkheim
                        .form-group
                        label.col-md-12.control-label(for="password") Passwort:
                        .col-md-8
                            input.form-control(name="password" type='password', value='11111122333')
                        .form-group
                        label.col-md-12.control-label(for="password_confirm") Passwort bestätigen:
                        .col-md-8
                            input.form-control(name="password" type='password', value='11111122333')
                        .form-group
                        label.col-md-12.control-label
                        .col-md-8
                            input.btn.btn-primary(type='submit', value='Speichern')
            hr

        script       
            include ../js/profile.js