extends layout

block variables
  - var title = "Deine Aufgaben"

block content
  include firstModal
  include successModalContents
  .card
    .card-body
      h2.text-center Deine kommunalpolitischen Inhalte, #{user.profile.firstName} #{user.profile.lastName} 
      if contentsList.length > 0
        h6.text-muted Deine kommunalpolitischen Inhalte (sortiert nach Wichtigkeit):
        ul.list-group.list-group-flush
        - contentsList.forEach(function(entry){
          li.list-group-item= entry.name
        - });
      else 
        .container.decisionCenter
          p Welche Aufgabe ist dir wichtiger? 
          .btn.btn-dark.btn-block.decisionBtn(onclick='selected(0)' role='button' id='#opt0') Option 1
          .btn.btn-dark.btn-block.decisionBtn(onclick='selected(1)' role='button' id='#opt1') Option 2

  script(type='text/javascript') var showModal =!{JSON.stringify(showModal)}; var attr =!{JSON.stringify(attr)}
  script(src='js/contents.js')
